<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>

    <link rel="stylesheet" href="../Css/demo.css">
</head>
<body>
    

    <div class="row">
        <div class="col">
            <div class="top">
                <img src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="img">
            </div>
            <div class="bottom">
                <h3>Devmaster</h3>
            </div>
        </div>
        <div class="col">
            <div class="top">
                <img src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="img">
            </div>
            <div class="bottom">
                <h3>Devmaster</h3>
            </div>
        </div>
        <div class="col">
            <div class="top">
                <img src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="img">
            </div>
            <div class="bottom">
                <h3>Devmaster</h3>
            </div>
        </div>
        <div class="col">
            <div class="top">
                <img src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="img">
            </div>
            <div class="bottom">
                <h3>Devmaster</h3>
            </div>
        </div>
    </div>
</body>
</html>